<app-header />

<main>
  <ul id="users">
<!--    @for (user of users; track user.id) {-->
<!--      <li>-->
<!--        <app-user [id]="user.id" [user]="user" (select)="onSelectUser($event)" />-->
<!--      </li>-->
<!--    }-->

      <li *ngFor="let user of users">
        <app-user [id]="user.id" [selected]="user.id === selectedUserId" [user]="user" (select)="onSelectUser($event)" />
      </li>

  </ul>

  @if (selectedUser) {
    <app-tasks [name]="selectedUser.name" [id]="selectedUser.id" />
  }
  @else {
    <p id="fallback">Theres no user selected</p>
  }

<!--  <app-tasks *ngIf="selectedUser; else fallback" [name]="selectedUser!.name" />-->

<!--  <ng-template #fallback>-->
<!--    <p id="fallback">Theres no user selected</p>-->
<!--  </ng-template>-->
</main>
